.cardNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.custom-card-container {
  padding: 20px;
  color: white;
  display: flex;
  width: 550px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
  border-radius: 8px;
  overflow: hidden;
}

.custom-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.custom-card-image-container {
  flex: 1;
  overflow: hidden;
}

.custom-card-image {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;
}

.custom-card-text {
  flex: 1;
  padding: 18px;
  display: flex;
  flex-direction: column; /* Apila los elementos en dispositivos móviles */
}
.custom-container-article {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-card-title {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
.custom-card-article-list {
  font-size: 1.3rem;
  padding: 8px 8px;
  display: inline-block;
  background-color: rgb(13, 13, 13);
}

.custom-card-article {
  margin-left: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.custom-btn-colapso {
  padding: 6px 8px;
  border-radius: 5px;
  background-color: rgb(13, 13, 13);
  color: white;
  margin-bottom: 20px;
}

.custom-card-colors {
  padding: 8px 8px;
  background-color: rgb(13, 13, 13);
  display: flex;
  flex-direction: column;
}
.custom-card-colors-title {
  font-size: 1.7rem;
}
.custom-color-circles-container {
  display: flex;

  flex-wrap: wrap;
  max-height: 90px; /* Altura máxima del contenedor */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}

.custom-color-circles {
  display: flex;
  margin-top: 5px;
}

.custom-color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 10px;
}

/*CARRUSEL*/
.custom-carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.custom-carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  position: relative;
}

.custom-carousel-image {
  object-fit: cover;
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.custom-carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.custom-carousel-dot {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-carousel-dot img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.custom-carousel-dot.active {
  background-color: #333;
}

.color-palette {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-box {
  width: 70%;
  height: 30px;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .custom-card-container {
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
  }

  .custom-card-content {
    flex-direction: column;
  }

  .custom-card-image {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente según el ancho */
  }

  .custom-card-text {
    padding: 10px;
    box-sizing: border-box; /* Asegura que el padding no incremente el tamaño total */
  }

  .custom-card-title {
    font-size: 1.5rem;
    text-align: center; /* Centra el texto */
  }

  .custom-card-article-list,
  .custom-card-article,
  .custom-btn-colapso,
  .custom-card-colors-title {
    font-size: 1rem;
    margin: 5px 0; /* Añade un pequeño margen entre elementos */
  }

  .custom-color-circle {
    width: 20px;
    height: 20px;
  }

  .custom-carousel-container {
    width: 100%;
  }

  .custom-carousel-images {
    width: 100%;
  }

  .custom-carousel-dot {
    width: 25px;
    height: 25px;
  }

  .custom-carousel-image {
    height: auto;
  }
}
